<div class="card mb-3">
  <div class="d-flex card-header justify-content-between">
    <div class="d-flex justify-content-start align-items-center">
        <% if post.user.avatar.attached? %>
            <%= image_tag post.user.avatar.variant(resize: "20x20"), class: "rounded-circle me-2"%>
        <% end %>
        <%= post.user.full_name %>
    </div>
    <div>
        <%= link_to "", user_post_path(post.user, post), class: "btn-close", data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
    </div>
  </div>
  <div class="d-flex flex-column card-body">
    <p class="card-text"><%= post.body %></p>
    <% if post.media.attached? %>
        <div class="d-flex flex-wrap flex-row">
            <% post.media.each_with_index do |media, index| %>
                    <p class="flex-shrink-0 img-thumbnail rounded position-relative m-1 ms-0">
                        <button type="button" class="btn btn-secondary position-absolute top-50 start-50 translate-middle" style="opacity: 0.6;" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= index %>">
                            View
                        </button>

                        <%= image_tag media.variant(resize: "200x200")%>
                    </p>

                <%= render "image_modal", media: media, index: index %>
            <% end%>
        </div>
    <% end %>
    <%= link_to "Open Post", [post.user, post], class: "btn btn-outline-primary" %>
  </div>
</div>    