<div class="card mb-3">
  <div class="d-flex card-header justify-content-between">
    <div>
        <%= post.user.full_name %>
    </div>
    <div>
        <%= link_to "X", user_post_path(post.user, post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
    </div>
  </div>
  <div class="d-flex flex-column card-body">
    <p class="card-text"><%= post.body %></p>
    <% if post.media.attached? %>
        <div class="flex-wrap">
            <% post.media.each do |media| %>
                <div class="flex-shrink-0">
                    <img src="<%= (url_for(media))%>" class="card-img-bottom">
                </div>
            <% end%>
        </div>
    <% end %>
    <%= link_to "Open Post", [post.user, post], class: "btn btn-outline-primary" %>
  </div>
</div>    